---
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize } from "@/lib/utils/textConverter";
import { FaRegUserCircle } from "react-icons/fa";
import ImageMod from "./ImageMod.astro";

const {
  blog_folder,
}: { blog_folder: string } = config.settings;
const { data } = Astro.props;
const { title, image, date, author } = data.data;
---


  <div class="bg-body dark:bg-darkmode-body blog-card">
    <a
    href={`/${blog_folder}/${data.slug}`}
  >
  <div>
    {
      image && (
          <ImageMod
            class="mb-6 object-cover rounded"
            src={image}
            alt={title}
            width={460}
            height={230}
            format="webp"
            style="aspect-ratio: 16/7"
          />
      )
    }
    <h4 class="mb-3 blog-card-title">
      {title}
    </h4>
    </div>
</a>

    <ul class="mb-4">
      <li class="mr-4 inline-block">
          <FaRegUserCircle className={"mr-2 -mt-1 inline-block"} />
          {humanize(author)}
      </li>
      {date && <li class="inline-block">{dateFormat(date)}</li>}
    </ul>
  </div>
<center>
  <hr class="mb-10 blog-card-hr">
</center>