---
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize } from "@/lib/utils/textConverter";
import { FaRegUserCircle } from "react-icons/fa";
import ImageMod from "./ImageMod.astro";

const {
  blog_folder,
}: { blog_folder: string } = config.settings;
const { data, related } = Astro.props;
const { title, image, date, author } = data.data;

let containerClass = "bg-body dark:bg-darkmode-body mx-auto";
related ? containerClass += "ml-0" : null;
---


<div class={ containerClass } style="width:fit-content;block-size:fit-content;">
  <a
    href={`/${blog_folder}/${data.id}`}
  >
    <div style="width:fit-content;block-size:fit-content;">

      <!-- image for home post list-->
      {
        (image && !related) && (
            <ImageMod
              class="mb-6 object-cover rounded"
              src={image}
              alt={title}
              width={460}
              height={230}
              format="webp"
              style="aspect-ratio: 16/7"
            />
        )
      }

      <!-- image for related posts section -->
      {
        (image && related) && (
            <ImageMod
              class="mb-6 object-cover rounded"
              src={image}
              alt={title}
              width={320}
              height={230}
              format="webp"
              style="aspect-ratio: 16/7"
            />
        )
      }

      <h4 class="mb-3">
        {title}
      </h4>
    </div>
  </a>

  <ul class="pb-4">
    <li class="inline-block">
      <FaRegUserCircle className={"-mt-1 inline-block"} />
      {humanize(author)}
    </li>
    {date && <li class="inline-block">{dateFormat(date)}</li>}
  </ul>
  <hr class="mb-8"/>
</div>

<div></div>
  