---
import BlogCard from "@/components/BlogCard.astro";
import Pagination from "@/components/Pagination.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import social from "@/config/social.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { getEntry } from "astro:content";
import About from "@/content/sections/about.astro";

const BLOG_FOLDER = "blog";

const postIndex = await getEntry(BLOG_FOLDER, "-index");
const posts = await getSinglePage(BLOG_FOLDER);
const sortedPosts = sortByDate(posts);
const totalPages: number = Math.ceil(posts.length / config.settings.pagination);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);
---

<Base
  title="Lautaro Lobo"
  meta_title="Lautaro Lobo"
  image={postIndex?.data.image}
  description="My Personal Blog"
>

<About />

<Social source={social.main} className="social-icons-about"/>

  <section class="section">
    <div class="container">
      <div class="mx-auto" style="width:fit-content;block-size:fit-content;">
        <!-- blog posts -->
          <div class="grid-cols-1 mx-auto">{
              currentPosts.map((post) => (
                  <BlogCard data={post} related={false}/>
              ))
            }
          </div>
      </div>
      <Pagination
            currentPage={1}
            totalPages={totalPages}
          />
    </div>
  </section>
</Base>
